<h2>ツイート一覧</h2>

<table>
  <tr>
    <th></th>
  </tr>
  <% @tweets.each do |tweet| %>
    <tr>
      <td>
          <%= tweet.message %>
          <%= tweet.tdate %>
          <%= link_to '削除', "/tweets/#{tweet.id}", data: { turbo_method: :delete } %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to '新規ツイートしてね～', new_tweet_path %></p>

<p><%= link_to 'ログアウトはここだよ～', top_logout_path %></p>